@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* FONTS */

*{
    font-family: 'Poppins', sans-serif;
}



/* MY PALETTE */

$my-white: #FFF;
$my-second-white: #F5F5F5;
$my-light-gray: #AAA;
$my-dark-gray: #494949;
$my-cyan: #55CCE5;
$my-blue: #427ED1;

/* ----CLASSI GENERALI ---- */

$letter-spacing: 2px;

.font-weight-600{
    font-weight: 600;
}
.size-7{
    font-size: 0.7rem;
}
.size-75 {
    font-size: 0.75rem;
}

.my-btn {
    border: none;
    background: $my-blue;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    font-size: 0.75rem;
}

.my-btn-transparent {
    border: 1.5px solid white;
    background: rgba(250, 250, 250, 0.1);
    color: white;
    border-radius: 20px;
    padding: 7px 20px;
    font-size: 0.75rem;
}

// line

.line{
    width: 75%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13%;
    >div{
        display: inline-block;
        height: 100%;
        width: calc(100% / 3);
        position: absolute;
    }
    .line-one{
        background: $my-light-gray;
    }
    .line-two{
        background: transparent;
        left: calc(100% / 3);
    }
    .line-three{
        background: $my-light-gray;
        right: 0;
    }
}